input[type=text], select, textarea, input[type=submit], input[type=button]{
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #ddd;
    margin: 5px 0 10px 0;
    font-size: 1rem;
    &:hover {
        background-color: #fee;
    }
}


label, legend {
    font-weight: 600;
}

legend {
    padding: 0;
    margin: 0 0 10px 0;
  }

fieldset > label {
    font-weight: normal;
}

fieldset {
    border: none;
    margin: 0 0 10px 0;
    padding: 0;
  }