table {
    border-collapse: collapse;
    border: 1px solid #aaa;
    width: 100%;
  }

td, th {
  padding: 0.5rem;
  border: 1px solid #aaa;
}

th {
    background-color: #dfd;
}

tr:nth-child(odd) {
    background-color: #ddf;
}

tr:nth-child(even) {
    background-color: #fdd;
}

tr:hover {
    background-color: #fff;
    cursor: pointer;
}

